.navbar{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
}

.navbar ul{
  width: 90%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

li{
  border: 1px solid red;
  padding: 10px 20px;
}